<!Doctype html>
    <head>
        <title>Ecommerce Website</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <section id="header">
            <!-- <a href="#"><img src="img/logo.png" class="logo" alt="" /></a> -->
            <div>
                <ul id="navbar">
                    <li><a href="index.ejs">Home</a></li>
                    <li><a  class="active" href="blog.ejs">Blog</a></li>
                    <li><a href="about.ejs">About</a></li>
                    <li><a href="contact.ejs">Contact</a></li>
                    <li>
                        <a href="cart.ejs"><i class="far fa-shopping-bag"></i></a>
                    </li>
                </ul>
            </div>
            <div id="mobile">
                <a href="cart.ejs"><i class="far fa-shopping-bag"></i></a>
                <i id="bar" class="fas fa-outdent"></i>
            </div>
        </section>

        <section id="page-header" class="blog-header">
            <h2>#ReadMore</h2>
            <p>Reading about out product</p>
        </section>

        <section id="blog">
            <div class="blog-box">
                <div class="blog-img">
                <img src="img/blog/b2.jpg" alt="">
                </div>
                <div class="blog-details">
                <h4>Immersive Learning Experiences</h4>
                <p>Unleash the power of augmented reality in education! Our platform offers immersive learning experiences that transcend traditional boundaries. Dive into interactive lessons, explore 3D models, and engage with dynamic content to make education come alive.</p>
                
                </div>
                </div>
                

                <div class="blog-box">
                    <div class="blog-img">
                    <img src="img/blog/b3.jpg" alt="">
                    </div>
                    <div class="blog-details">
                    <h4>Anywhere, Anytime Learning</h4>
                    <p>
                        Take your classroom wherever you go! With augmented reality, learning knows no bounds. Access lessons, quizzes, and virtual labs from the comfort of your home or on the go. Transform any space into a personalized learning environment
                    </p>                  
                    </div>
                    </div>

                    <div class="blog-box">
                        <div class="blog-img">
                        <img src="img/blog/b4.jpeg" alt="">
                        </div>
                        <div class="blog-details">
                        <h4>Hands-On Exploration</h4>
                        <p>
                            Experience education in a new dimension! Our AR-powered courses allow you to interact with virtual objects, dissect virtual specimens, and conduct experiments—all from your device. Learning becomes a hands-on adventure, fostering curiosity and understanding.
                        </p>
                        </div>
                        </div>


                        <div class="blog-box">
                            <div class="blog-img">
                            <img src="img/blog/b6.png" alt="">
                            </div>
                            <div class="blog-details">
                            <h4>Accessible Learning for All</h4>
                            <p>
                                Experience education inclusively! Our platform is designed to be accessible to learners of all abilities. Augmented reality enhances engagement and understanding for a diverse range of students, making education more equitable.
                           </p>
                            </div>
                            </div>
                            <div class="blog-box">
                                <div class="blog-img">
                                <img src="img/blog/b1.jpeg" alt="">
                                </div>
                                <div class="blog-details">
                                <h4>Online Education Platform Trend</h4>
                                <p>Online Education Platform Trends: Staying Ahead of others in 2024</p>
                                <p>    
                                    In the ever-evolving realm of education, staying ahead of the curve is not just a choice it's a necessity. As technology continues to weave its magic, shaping the way we learn and study, let's dive into the exciting online education trends that are currently steering the ship of the e-learning platform landscape...
                                </p>
                                </div>
                                </div>

            </section>
        <section id="pagination" class="section-p1">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
        </section>

        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For Newsletter</h4>
                <p>Get E-mail updates about our latest courses and <span>special AR based models.</span></p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address" />
                <button class="normal">Sign Up</button>
            </div>
        </section>

        <footer class="section-p1">
            <div class="col">
                <img class="logo" src="img/logo.png" alt="" />
                <h4>Contact</h4>
                <p><strong>Address: </strong>Jaypee Institute of Information Technology Sector 128 ,Noida</p>
                <p><strong>Phone: </strong> (+91) 01 2345 6789</p>
                <p><strong>Hours: </strong>10:00 -18:00, Mon - Sat</p>
                <div class="follow">
                    <h4>Follow us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterst-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>About</h4>
                <a href="about.ejs">About us</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="contact.ejs">Contact Us</a>
            </div>
            <div class="col">
                <h4>My Account</h4>
                <a href="#">Sign In</a>
                <a href="cart.ejs">View Cart</a>
                <a href="#">My Wishlist</a>
                <a href="#">Help</a>
            </div>
            <div class="col install">
                <h4>Install App</h4>
                <p>From App Store or Google</p>
                <div class="row">
                    <img src="img/pay/app.jpg" alt="" />
                    <img src="img/pay/play.jpg" alt="" />
                </div>
                <p>Secured Payment Gateways</p>
                <img src="img/pay/pay.png" alt="" />
            </div>
            <div class="copyright">
                <p>E-Commerce Website</p>
            </div>
        </footer>
        <script src="script.js"></script>
    </body>
</html>
