<html>

    <head>
        <title>E-Education Website</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <section id="header">
            <div>
                <ul id="navbar">

                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="blog.ejs">Blog</a></li>
                    <li><a href="about.ejs">About</a></li>
                    <li><a href="contact.ejs">Contact</a></li>
                        <a href="cart.ejs"><i class="far fa-shopping-bag"></i></a>
                    </li>
                </ul>
            </div>
            <div id="mobile">
                <a href="cart.ejs"><i class="far fa-shopping-bag"></i></a>
                <i id="bar" class="fas fa-outdent"></i>
            </div>
        </section>

        <section id="hero">
        </section>

        <section id="feature" class="section-p1">
            <div class="fe-box">
                <img src="img/features/f1.png" alt="" />
                <h6>Free Education</h6>
            </div>
            <div class="fe-box">
                <img src="img/features/f2.png" alt="" />
                <h6>Time Management</h6>
            </div>
            <div class="fe-box">
                <img src="img/features/f3.png" alt="" />
                <h6>Cost Effective</h6>
            </div>
            <div class="fe-box">
                <img src="img/features/f4.png" alt="" />
                <h6>Exam Ready</h6>
            </div>
            <div class="fe-box">
                <img src="img/features/f5.png" alt="" />
                <h6>Happy Students</h6>
            </div>
            <div class="fe-box">
                <img src="img/features/f6.png" alt="" />
                <h6>24/7 Support</h6>
            </div>
        </section>

        <section id="product1" class="section-p1">
            <h2>Chemistry</h2>
            <div class="pro-container">
                <div class="pro">
                    <img  class="image" src="img/Betasheet.png" alt="" />
               
                    <div class="des">
                        <h5>Beta sheet</h5>
                        
                    </div>
                    <div class="qr">
                    <img src="img/Betaqr.png" alt="" /> 
                    
                </div>
                </div>

                <div class="pro">
                    <img class="image" src="img/lattice.png" alt="" />
                    <div class="des">
                        <h5>Lattice</h5>
                        
                    </div>
                    <div class="qr">
                        <img src="img/latticeqr.png" alt="" /> 
                    </div>
                </div>

                <div class="pro">
                    <img class="image" src="img/buck.png" alt="" />
                    <div class="des">
                        <h5>Buckminster Fullerene</h5>
                        
                    </div>
                    <div class="qr">
                       
                    </div>
                    
                </div>

                <div class="pro">
                    <img class="image" src="img/solidstate.webp" alt="" />
                    <div class="des">
                        <h5>Solid state</h5>
                    </div>
                    <div class="qr">
                    </div>
                </div>

            </div>
        </section>
        
        <section id="product1" class="section-p1">
            <h2>Biology</h2>
            <div class="pro-container">
                <div class="pro">
                    <img  class="image" src="img/brain.jpg" alt="" />
               
                    <div class="des">
                        <h5>Brain</h5>                        
                    </div>
                    <div class="qr">
                    
                </div>
                </div>

                <div class="pro">
                    <img class="image" src="img/dissected frog.jpg" alt="" />
                    <div class="des">
                        <h5>Dissected Frog</h5>
                    </div>
                    <div class="qr">
                    </div>
                    
                </div>

                <div class="pro">
                    <img class="image" src="img/floweranatomy.jpg" alt="" />
                    <div class="des">
                        <h5>Home Utility Product</h5>
        
                    </div>
                    <div class="qr">
                    </div>
                </div>

                <div class="pro">
                    <img class="image" src="img/Skeleton.png" alt="" />
                    <div class="des">
                        <h5>Skeleton</h5>
                       
                    </div>
                    <div class="qr">
                        <img src="img/Skeletonqr.png" alt="" /> 
                    </div>
                </div>

                <div class="pro">
                    <img class="image" src="img/animalcell.jpg" alt="" />
                    <div class="des">
                        <h5>Animal cell</h5>
                    </div>
                    <div class="qr">
                       
                    </div>
                </div>

            </div>
        </section>

        <section id="product1" class="section-p1">
            <h2>Physics</h2>
            <div class="pro-container">
                <div class="pro">
                    <img class="image" src="img/fusion.jpg" alt="" />
                    <div class="des">
                        <h5>Nuclear Fusion</h5>
                       
                    </div>
                    <div class="qr">
                    </div>
                </div>
                <div class="pro">
                    <img class="image" src="img/resonance.jpg" alt="" />
                    <div class="des">
                        <h5>Resonance</h5>
                       
                    </div>
                    <div class="qr">
                       
                    </div>
                </div>

                <div class="pro">
                    <img class="image" src="img/earth.png" alt="" />
                    <div class="des">
                        <h5>Earth</h5>
                       
                    </div>
                    <div class="qr">
                        <img src="img/earthqr.png" alt="" /> 
                    </div>
                </div>

                <div class="pro">
                    <img class="image" src="img/electromagnetic-train.png" alt="" />
                    <div class="des">
                        <h5>Electro-Magnetic Train</h5>
        
                    </div>
                    <div class="qr">
                      
                    </div>
                </div>
            </div>
        </section>

        

        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For Newsletter</h4>
                <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address" />
                <button class="normal">Sign Up</button>
            </div>
        </section>

        <footer class="section-p1">
            <div class="col">
                <h4>Contact</h4>
                <p><strong>Address: </strong>Jaypee Institute of Information Technology Sector 128 ,Noida</p>
                <p><strong>Phone: </strong> 01 2345 6789</p>
                <p><strong>Hours: </strong>10:00 -18:00, Mon - Sat</p>
                <div class="follow">
                    <h4>Follow us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterst-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>About</h4>
                <a href="about.ejs">About us</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="contact.ejs">Contact Us</a>
            </div>
            <div class="col">
                <h4>My Account</h4>
                <a href="#">Sign In</a>
                <a href="cart.ejs">View Cart</a>
                <a href="#">My Wishlist</a>
                <a href="#">Help</a>
            </div>
            <div class="col install">
                <h4>Install App</h4>
                <p>From App Store or Google</p>
                <div class="row">
                    <img src="img/pay/app.jpg" alt="" />
                    <img src="img/pay/play.jpg" alt="" />
                </div>
                <p>Secured Payment Gateways</p>
                <img src="img/pay/pay.png" alt="" />
            </div>
            <div class="copyright">
                <p>E-Commerce Website</p>
            </div>
        </footer>
        <script src="script.js"></script>
    </body>

</html>